@import './components/Search.scss', './variables.scss', './components/Main.scss', './components/Weather.scss';

.App {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-color: $background-main;
  background-image: url('./images/background.jpg');
  background-size: cover;
}

