@import "/src/components/variables/variables.scss";

.main-container{
    min-height: 31em;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  @media (min-width: 0px){
    .main-container{
      margin: 1em 0 0 0;
    }
  }

  @media (min-width: $breakpoint-mobile){
    .main-container{
      margin:auto 0px;
    }
  }
  
  @media (min-width: $breakpoint-tablet){
   
  }
  
  @media (min-width: $breakpoint-desktop){
   
  }
  
  @media (min-width: $breakpoint-large){
  
  }
  